<ng-content></ng-content>
<section class="nav-menu">
  <div class="user-info">
    <div class="row">
      <div class="col s3 img">
        <img src="./../../../assets/images/debug.png" alt="" class="round">
      </div>
      <div class="col s9 info">
        <h6 class="name">Alexey Solodukhin</h6>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
  <div class="menu">
    <ul>
      <li><a routerLink="/"><i class="fa fa-home"></i> Home</a></li>
      <li><a routerLink="/tasks"><i class="fa fa-table"></i> Task Manager</a></li>
      <li><a routerLink="/projects"><i class="fa fa-file-o"></i> Projects</a></li>
      <!--<li><a routerLink=""></a></li>-->
      <!--<li><a routerLink=""></a></li>-->
    </ul>
  </div>
</section>
