<section class="project-page">
  <div class="title">
    <h5 class="page-title">{{project.name}}</h5>
    <p>{{project.description}}</p>
  </div>
  <div class="content">
    <app-statistic [stat]="statData" ></app-statistic>
  </div>
  <!--<div class="row">-->
    <!--<div class="col s2">-->
    <!--</div>-->
    <!--<div class="col s9 content-section">-->
      <!--<div class="row">-->
        <!--<div class="card-item user-chart col s12">-->
          <!--<app-chart-user></app-chart-user>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col s4 ">-->
          <!--<div class="card-item">-->
            <!--<app-chart-statuses [dataProvider]="statusesData"></app-chart-statuses>-->
          <!--</div>-->

        <!--</div>-->

        <!--<div class="col s4">-->
          <!--<div class="card-item">-->
            <!--<app-chart-stages [dataProvider]="stagesData"></app-chart-stages>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

</section>
