<section class="container">

  <div [class]="errors.length == 0 ? 'hide': 'errors z-depth-4'">
    <ul class="collapsible">
      <li *ngFor="let error of errors">
        <div class="collapsible-header red darken-1 white-text">{{error.title}}</div>
        <div class="collapsible-body"><span>{{error.message}}</span></div>
      </li>
    </ul>
  </div>
    <form class="z-depth-4" (submit)="auth(login.value,password.value)">
      <h5>Login</h5>
        <div class="input-field">
          <input id="login" #login name="login" type="text" class="validate" >
          <label for="login">Login</label>
        </div>
        <div class="input-field">
          <input #password id="password" name="password" type="password">
          <label for="password">Password</label>
        </div>
        <button class="btn" type="submit">Login</button>
    </form>

</section>
