<app-create-task [projects]="projects" [stages]="stages" (createTaskAction)="addTask($event)"></app-create-task>
<section class="tasks container z-depth-4">
  <div class="row">
    <div class="col s4">
      <h5><b>Task Manages</b></h5>
    </div>
    <div class="col s8">
      <div class="pull-right">
        <app-settings [projects]="projects" [stages]="stages" (filters)="filtersAction($event)" (reset)="resetAction($event)"></app-settings>
      </div>
    </div>
  </div>

  <table class="table highlight ">
    <thead>
        <tr>
          <th></th>
          <th>#</th>
          <th>Name</th>
          <th>Status</th>
          <th>Project</th>
          <th>Stage</th>
          <th>Estimate</th>
          <th>Spent</th>
          <th>Date</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
        <app-task *ngFor="let task of tasks" [task]="task" [class]="task.hidden == true || task.filter == false ? 'hide':''"></app-task>
    </tbody>
  </table>
</section>
<app-pagination [pages]="paginationPages" (onChanged)="onChanged($event)" ></app-pagination>
